#f3dq {
    background-color: #cdcdcd;
    height: 100px;
    width: 100%;
}
#f48p {
    height: 100%;
    width: 15%;
    position: relative;
    float: left;
}
.fu29 {
    height: auto;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#f49p {
    height: 100%;
    width: 15%;
    float: left;
    text-align: center;
}
#g3ff {
    text-decoration: none;
    color: black;
}
#g3ff:hover {
    color: gray;
}
#f23b {
    background-color: #ccac25;
    height: 100%;
    width: 160px;
}